/* Container for Sign Up button */

#TopRightButton{
    line-height: 12px;
     width: 200px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}

/* Container for connexion/SignUp Pages*/

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

#container h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
}

#container label
{
    padding-left: 15px;
}



/* Bordered form */
#Borderedform {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: medium;
 }

 /* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}


/* Form Errors */

#lefft{
    text-align: left;
    margin-top: 0%;
}