{% extends 'base.html.twig' %}

{% block stylesheets%}
	<link type="text/css" rel="stylesheet" media="all" href="stylesheets/w3.css"/>
	<link type="text/css" rel="stylesheet" media="all" href="stylesheets/login/style_id.css"/>
{% endblock %}

{% block title %}
	Roll10 - Login Page
{% endblock %}


{% block body %}
	<div
		id="TopRightButton">
		<!-- Bouton de Connexion -->
		<form action={{path('security_signup')}}>
			<input type="submit" value="S'inscrire">
		</form>
	</div>

	<div
		id="container" class="w3-container w3-center w3-animate-top">
		<!-- Zone de connexion -->
		<form id="Borderedform" action={{path('security_login')}} method="post">
			<h1>
				Bienvenue sur Roll10 !
			</h1>

			{# Username #}
			<div>
				<input placeholder="Nom d'utilisateur" type="text" required name="_username" id="username">
			</div>


			{# Password #}
			<div>
				<input placeholder="Mot de passe" type="password" required name="_password" id="password">
			</div>

			<input type="submit" id='submit' value='Se connecter'>
		</form>
	</div>

{% endblock %}
