{% extends 'base.html.twig' %}

{% block title %}
	Roll10 - SignUp
{% endblock %}

{% block stylesheets%}
	<link type="text/css" rel="stylesheet" media="all" href="stylesheets/w3.css"/>
	<link type="text/css" rel="stylesheet" media="all" href="stylesheets/login/style_id.css"/>
{% endblock %}

{% block body %}
	<div
		id="TopRightButton">
		<!-- Bouton de Connexion -->
		<form action={{path('security_login')}}>
			<input type="submit" value="Se connecter">
		</form>
	</div>


	<div id="container" class="w3-container w3-center w3-animate-top">
		<form action="{{path('security_signup')}}" method="POST" id="Borderedform">
			<h1>
				Rejoignez Roll10
			</h1>
			{# Username #}
			{{form_label(form.username)}}
			{{form_widget(form.username)}}
			{% if form.username.vars['errors'] | length > 0 %}
				{% for error in form.username.vars['errors'] %}
					<cite style="color:#C00; font-size:14px">
						{{ error.message }}
					</cite>
					<br>
				{% endfor %}
			{% endif %}

			{# Password #}
			{{form_label(form.password)}}
			{{form_widget(form.password)}}
			{% if form.password.vars['errors'] | length > 0 %}
				{% for error in form.password.vars['errors'] %}
					<cite style="color:#C00; font-size:14px">
						{{ error.message }}
					</cite>
				{% endfor %}
			{% endif %}

			{# Confirm Password #}
			{{form_label(form.confirm_password)}}
			{{form_widget(form.confirm_password)}}
			{% if form.confirm_password.vars['errors'] | length > 0 %}
				{% for error in form.confirm_password.vars['errors'] %}
					<cite style="color:#C00; font-size:14px">
						{{ error.message }}
					</cite>
					<br>
				{% endfor %}
			{% endif %}

			{# Selection MJ/Joueur #}
			{{form_label(form.isGameMaster)}}
			{{form_widget(form.isGameMaster)}}

			{{ form_rest(form) }}

			<input type="submit" id='submit' value="S'inscrire">
		</form>
	</div>

{% endblock %}
