{% extends 'base.html.twig' %}

{% block title %}
	Roll10!
{% endblock %}


{% block navbar %}
	{# Is Game Session or Player Journal Light up #}

	{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

	{% if currentPath == '/game' %}
		{% set GameLight = 'nav-link active' %}
		{% set PlayerJournalLight = 'nav-link' %}
	{% else %}
		{% set PlayerJournalLight = 'nav-link active' %}
		{% set GameLight = 'nav-link' %}
	{% endif %}


	{# /Light #}

	{# Navbar #}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Roll 10</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class='{{GameLight}}' href={{ path('game') }}>Game Session

							{% if currentPath == '/game' %}
								<span class="visually-hidden">(current)</span>
							{% endif %}

						</a>
					</li>
					<li class="nav-item">
						<a class='{{ PlayerJournalLight }}' href={{ path('player_journal', {id} ) }}>Player Journal
							{% if currentPath == '/PlayerJournal' %}
								<span class="visually-hidden">(current)</span>
							{% endif %}
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href={{path('security_logout')}}>Disconnect</a>
					</li>
				</ul>

				<form class="d-flex" method='GET' action={{ path("SearchBar") }}>
					<input id='username' name='username' class="form-control me-sm-2" type="text" placeholder="Enter a username">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	{# /NavBar #}

{% endblock %}
