{% extends 'game/index.html.twig' %}

{% block title %}
	Roll10 - Player Journal
{% endblock %}


{% block body %}
	{# Les Stats #}
	{{ form_start(formEdit) }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.STR.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">FOR</label>
							{{ form_widget(formEdit.STR, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"FOR", 
								'id'			:	"readOnlyInput",
								'value'			:	FOR,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">FOR</label>
							{{ form_widget(formEdit.STR, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"FOR", 
								'id'			:	"readOnlyInput",
								'value'			:	FOR,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.DEX.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">DEX</label>
							{{ form_widget(formEdit.DEX, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"DEX", 
								'id'			:	"readOnlyInput",
								'value'			:	DEX,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">DEX</label>
							{{ form_widget(formEdit.DEX, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"DEX", 
								'id'			:	"readOnlyInput",
								'value'			:	DEX,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.CON.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">CON</label>
							{{ form_widget(formEdit.CON, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"CON", 
								'id'			:	"readOnlyInput",
								'value'			:	CON,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">CON</label>
							{{ form_widget(formEdit.CON, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"CON", 
								'id'			:	"readOnlyInput",
								'value'			:	CON,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.INT.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">INT</label>
							{{ form_widget(formEdit.INT, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"INT", 
								'id'			:	"readOnlyInput",
								'value'			:	INT,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">INT</label>
							{{ form_widget(formEdit.INT, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"INT", 
								'id'			:	"readOnlyInput",
								'value'			:	INT,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.WIS.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">SAG</label>
							{{ form_widget(formEdit.WIS, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"SAG", 
								'id'			:	"readOnlyInput",
								'value'			:	SAG,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">SAG</label>
							{{ form_widget(formEdit.WIS, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"SAG", 
								'id'			:	"readOnlyInput",
								'value'			:	SAG,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					{% if formEdit.CHA.vars['errors'] | length == 0 %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">CHA</label>
							{{ form_widget(formEdit.CHA, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"CHA", 
								'id'			:	"readOnlyInput",
								'value'			:	CHA,
								'class'			: 	'form-control',
							}}) }}
						</fieldset>
					{% else %}
						<fieldset>
							<label class="form-label mt-4" for="inputDefault">CHA</label>
							{{ form_widget(formEdit.CHA, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"CHA", 
								'id'			:	"readOnlyInput",
								'value'			:	CHA,
								'class'			: 	'form-control is-invalid',
							}}) }}
							<div class="invalid-feedback">Valeur interdite</div>
						</fieldset>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	{# Gestion des PV #}
	<div class="row">
		<b class="col-md-3" style='margin-top:12px; width: 6%; margin-left: 1%'>
			PV :
		</b>
		<div class="col-md-3" style="width: 12%">

			{% if formEdit.PV.vars['errors'] | length == 0 %}

				<div class="form-group">
					{{ form_widget(formEdit.PV, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"PV", 
								'id'			:	"readOnlyInput",
								'value'			:	PV,
								'class'			: 	'form-control',
							}}) }}
				</div>
			{% else %}
				<div class="form-group">
					{{ form_widget(formEdit.PV, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"PV", 
								'id'			:	"readOnlyInput",
								'value'			:	PV,
								'class'			: 	'form-control is-invalid',
							}}) }}
				</div>
			{% endif %}
		</div>
		<b class="col-md-3" style="width: 4%; margin-top:12px; margin-left: 12px">
			/
		</b>
		<div class="col-md-3" style="width: 12%">
			<div class="form-group">
				{{ form_widget(formEdit.PVMax, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"PV Max", 
								'id'			:	"readOnlyInput",
								'value'			:	PVMax,
								'class'			: 	'form-control',
							}}) }}
			</div>
			<br/>
			{# Submit #}
			<a style="position:fixed;bottom:5px;right:5px;margin:20px;padding:5px 3px;">
				<button id="submit" type="submit" class="btn btn-success">Save</button>
			</a>
		</div>

		{# Background #}
		{{ form_label(formEdit.Background, "Histoire de " ~ username) }}
		{{ form_widget(formEdit.Background, {'attr' : {
								'type'			:	"textarea",
								'placeholder'	: 	"Background", 
								'value'			:	Background,
								'class'			: 	'form-control',
								'rows'			:	'7',
							}}) }}

		{# Inventory #}
		{{ form_label(formEdit.Inventory) }}
		{{ form_widget(formEdit.Inventory, {'attr' : {
								'type'			:	"textarea",
								'placeholder'	: 	"Inventory", 
								'value'			:	Inventory,
								'class'			: 	'form-control',
								'rows'			:	'7',
							}}) }}

		{# Notes #}
		{{ form_label(formEdit.Notes) }}
		{{ form_widget(formEdit.Notes, {'attr' : {
								'type'			:	"textarea",
								'placeholder'	: 	"Notes (Ne peuvent être lus que par les MJ et vous même)", 
								'value'			:	Notes,
								'class'			: 	'form-control',
								'rows'			:	'7',
							}}) }}

		{# Argent #}
		<div class="row" style='margin-top: 1%'>
			<b class="col-md-3" style='margin-top:12px; width: 6%; margin-left: 1%'>
				Argent :
			</b>
			<div class="col-md-3" style="width: 12%">
				{% if formEdit.Argent.vars['errors'] | length == 0 %}
					<div class="form-group">
						{{ form_widget(formEdit.Argent, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"0", 
								'id'			:	"readOnlyInput",
								'value'			:	Bourse,
								'class'			: 	'form-control',
							}}) }}
					</div>
				{% else %}
					<div class="form-group">
						{{ form_widget(formEdit.Argent, {'attr' : {
								'id'			:	"inputDefault", 
								'type'			:	"text",
								'placeholder'	: 	"0", 
								'id'			:	"readOnlyInput",
								'value'			:	Bourse,
								'class'			: 	'form-control is-invalid',
							}}) }}
					</div>
				{% endif %}
			</div>
			<b class="col-md-3" style='margin-top:12px; width: 6%; margin-left: 1%'>
				pa
			</b>
		</div>

		{{ form_end(formEdit) }}

	{% endblock %}
