{% extends 'game/index.html.twig' %}

{% block title %}
	Roll10 - Player Journal
{% endblock %}


{% block body %}


	{# Les Stats #}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">FOR</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{FOR}} readonly="">
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">DEX</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{DEX}} readonly="">
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">CON</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{CON}} readonly="">
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">INT</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{INT}} readonly="">
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">SAG</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{SAG}} readonly="">
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group .col-sm- text-center">
					<fieldset>
						<label class="form-label mt-4" for="readOnlyInput">CHA</label>
						<input class="form-control" id="readOnlyInput" type="text" placeholder={{CHA}} readonly="">
					</fieldset>
				</div>
			</div>
		</div>
	</div>

	<br>

	{# La barre de Point de Vie #}

	{% if PV/PVMax < 0.33 %}
		{% set BarClass = "progress-bar progress-bar-striped progress-bar-animated bg-danger" %}
	{% elseif PV/PVMax < 0.66 %}
		{% set BarClass = "progress-bar progress-bar-striped progress-bar-animated bg-warning" %}
	{% else %}
		{% set BarClass = "progress-bar progress-bar-striped progress-bar-animated bg-success" %}
	{% endif %}

	<div class="progress">
		<div class="{{BarClass}}" role="progressbar" aria-valuenow="{{100 * PV / PVMax}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * PV / PVMax}}%;">
			<span>
				{{PV}}
				/
				{{PVMax}}
				PV
			</span>
		</div>
	</div>
	{# /La barre de Point de Vie#}
	<br>

</div>


{# Les Infos textuels du persos #}
<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Histoire de
				{{ username }}
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
			<div class="accordion-body">
				{{ Background|nl2br }}
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				Inventaire
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
			<div class="accordion-body">
				{{ Inventory|nl2br }}
			</div>
		</div>
	</div>
	{% if afficheNote %}
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Notes
				</button>
			</h2>

			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
				<div class="accordion-body">
					{{ Notes|nl2br }}
				</div>
			</div>
		{% endif %}
	</div>
</div>

<h5>
	Bourse :
	{{Bourse}}
	pa
</h5>

{% if afficheNote %}
	<a href={{path('edit', {id} )}} style="position:fixed;bottom:5px;right:5px;margin:20px;padding:5px 3px;">
		<button type="button" class="btn btn-success">Edit</button>
	</a>
{% endif %}{% endblock %}
