<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>

		{# S'occuper de l'icone ? #}
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link type="text/css" rel="stylesheet" media="all" href='{{asset("stylesheets/bootstrap.min.css")}}'/>
		{% endblock %}
		{% block stylesheets2 %}
			{# Eventuels stylesheets #}
		{% endblock %}

		{% block javascripts %}
			{# Nécessaires pour l'utilisation de Dropdowns, Accordéons etc... TODO : Verifier si ils sont toujours utile au final #}
			{#<script src="{{ absolute_url(asset('js/jquery.min.js'))}}"></script>#}<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js')) }}"> </script>
		{% endblock %}
	</head>

	<body>
		{% block navbar %}{% endblock %}
		<container>
			{% block body %}{% endblock %}
		</container>


	</body>

</html>
