{% extends 'game/index.html.twig' %}

{% block title %}
	Roll10 - Game Session
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link type="text/css" rel="stylesheet" media="all" href='{{ absolute_url(asset("stylesheets/gameBoard/dragndrop.css")) }}'/>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{ absolute_url(asset('js/gameBoard/dragSystem.js'))}}"></script>
	<script src="{{ absolute_url(asset('js/gameBoard/jquery-1.12.4.js')) }}"></script>
	<script src="{{ absolute_url(asset('js/gameBoard/jquery-ui.js')) }}"></script>

	{#<script src="//code.jquery.com/jquery-1.12.4.js"></script> <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}


{% endblock %}

{% block body %}

	{# TEST #}
	<style>
		div.pion {
			width: 100px;
			height: 100px;
			background: #f00;
		}
	</style>

	{# On instancie les pions #}
	{% for pion in pions %}

		{# Ici on vérifie si on met la class "movable" au pion ou non #}
		{% if (joueur.isGameMaster) or (pion.joueur.id == id )%}
			{% set class = "pion movable" %}
		{% else %}
			{% set class = "pion" %}
		{% endif %}

		<div id={{ "draggable" ~ pion.joueur.id }} class={{ class }} style="position:absolute">{{pion.joueur.username}}</div>
	{% endfor %}

	{% if not joueur.isGameMaster %}
		<script type="text/javascript">
			UpdatePions();
Drag({{ id }});
UpdateClock();
		</script>

	{% else %}
		<script type="text/javascript">
			UpdatePions();
DragAll();
UpdateClock();
		</script>

	{% endif %}
{% endblock %}
